<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771099587042-7ssqu9gnqp2lakv9mm0pgeifkjttlttq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771099587042-7ssqu9gnqp2lakv9mm0pgeifkjttlttq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>771099587042-2d3e9uau2jk30tvn1lppsbnn86910s1k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfQuhUxM4wewYkmOv-_CJdV3UFzz5g-50</string>
	<key>GCM_SENDER_ID</key>
	<string>771099587042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appFromScratch</string>
	<key>PROJECT_ID</key>
	<string>score-quiz-f4040</string>
	<key>STORAGE_BUCKET</key>
	<string>score-quiz-f4040.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771099587042:ios:a27aa8c49106b33cce49bb</string>
	<key>DATABASE_URL</key>
	<string>https://score-quiz-f4040.firebaseio.com</string>
</dict>
</plist>